.App {
  background-color: #061024; /* #282c34  000000 #226cff*/
  background-image: url("./img/snow3.gif");

  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
